<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.elorri.android.tieus"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name="com.elorri.android.tieus.StethoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.elorri.android.tieus.activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Board">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.elorri.android.tieus.activities.DetailActivity"
            android:parentActivityName="com.elorri.android.tieus.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elorri.android.tieus.activities.MainActivity"/>
        </activity>
        <activity
            android:name="com.elorri.android.tieus.activities.AddActionActivity"
            android:parentActivityName="com.elorri.android.tieus.activities.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.elorri.android.tieus.activities.DetailActivity"/>
        </activity>
        <provider
            android:name="com.elorri.android.tieus.data.FriendForecastProvider"
            android:authorities="com.elorri.android.tieus"
            android:exported="false"/>
        <receiver
            android:name=".widget.WidgetListProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.elorri.android.tieus.ACTION_DATA_UPDATED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_provider_list_info"/>
        </receiver>
        <service
            android:name=".widget.WidgetListRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>
